/* Woot Add Meh */
#woot .bottom, #woot.selected {
background: #A2A200 !important;
}
.votes-rs .title.woot {
background: #A2A200 !important;
}
#grab .bottom, #grab.selected {
background: #00FF2F;
}
.votes-rs .title.grab {
    background: #00FF2F !important;
}
#meh .bottom, #meh.selected {
    background: #800000;
}
.votes-rs .title.meh {
    background: #800000 !important;
}
#woot.selected .icon, #grab.selected .icon, #meh.selected .icon {
    animation: pulse 1s ease infinite;
}
#vote .crowd-response .top .icon-woot, #user-lists .list.room .user .icon-woot {
    background: url('http://i.imgur.com/AKF3Lvf.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
/* Woot Add Meh */
